{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    {% for farm in farms: %}
                    {% include "moister_chart.html" %}
                    {% endfor %}
                  </div>

                  <div class="row">

                    {% for farm in farms: %}
                    {% include "weather_chart.html" %}
                    {% endfor %}

      
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">

                  {% for ss in soilss: %}
                  {% include "ss_chart.html" %}
                  {% endfor %}

                </div>
                <!-- /.row -->
              </div>
              
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Sprinkler Logs</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Device ID</th>
                      <th>farm ID</th>
                      <th>Status</th>
                      <th>Action Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><a href="pages/examples/invoice.html">SP101</a></td>
                      <td>F1001</td>
                      <td><span class="badge badge-success">ON</span></td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">01:10:00</div>
                      </td>
                    </tr>

                    
                    <tr>
                      <td><a href="pages/examples/invoice.html">SP101</a></td>
                      <td>F1001</td>
                      <td><span class="badge badge-success">ON</span></td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">01:10:00</div>
                      </td>
                    </tr>

                    <tr>
                      <td><a href="pages/examples/invoice.html">SP101</a></td>
                      <td>F1001</td>
                      <td><span class="badge badge-success">ON</span></td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">01:10:00</div>
                      </td>
                    </tr>

                    
                    <tr>
                      <td><a href="pages/examples/invoice.html">SP101</a></td>
                      <td>F1001</td>
                      <td><span class="badge badge-success">ON</span></td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">01:10:00</div>
                      </td>
                    </tr>
                    
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All</a>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <div class="col-md-4">
            <!-- Info Boxes Style 2 -->
            
            
            
            <!-- /.info-box -->
            
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% endblock %}

{% block footerjs %}
<script type="text/javascript">
  
  function getChartdata(){
      $.get("/chart-data",function(){

      }).done(function(res){
            const data = JSON.parse(res);
            console.log(data);
            device_id=data.device_id;

            switch(device_id)
            {
              case 'SS001':
                    if (configSS001.data.labels.length === 20) {
                        configSS001.data.labels.shift();
                        configSS001.data.datasets[0].data.shift();
                    }
                    configSS001.data.labels.push(data.timestamp);
                    configSS001.data.datasets[0].data.push(data.value);
                    lineChartSS001.update();
                    break;
              case 'SS002':
                    if (configSS002.data.labels.length === 20) {
                        configSS002.data.labels.shift();
                        configSS002.data.datasets[0].data.shift();
                    }
                    configSS002.data.labels.push(data.timestamp);
                    configSS002.data.datasets[0].data.push(data.value);
                    lineChartSS002.update();
                    break;
              case 'SS003':
                    if (configSS003.data.labels.length === 20) {
                        configSS003.data.labels.shift();
                        configSS003.data.datasets[0].data.shift();
                    }
                    configSS003.data.labels.push(data.timestamp);
                    configSS003.data.datasets[0].data.push(data.value);
                    lineChartSS003.update();
                    break;
              case 'SS004':
                    if (configSS004.data.labels.length === 20) {
                        configSS004.data.labels.shift();
                        configSS004.data.datasets[0].data.shift();
                    }
                    configSS004.data.labels.push(data.timestamp);
                    configSS004.data.datasets[0].data.push(data.value);
                    lineChartSS004.update();
                    break;

              case 'SS005':
                    if (configSS005.data.labels.length === 20) {
                        configSS005.data.labels.shift();
                        configSS005.data.datasets[0].data.shift();
                    }
                    configSS005.data.labels.push(data.timestamp);
                    configSS005.data.datasets[0].data.push(data.value);
                    lineChartSS005.update();
                    break;
              case 'SS006':
                    if (configSS006.data.labels.length === 20) {
                        configSS006.data.labels.shift();
                        configSS006.data.datasets[0].data.shift();
                    }
                    configSS006.data.labels.push(data.timestamp);
                    configSS006.data.datasets[0].data.push(data.value);
                    lineChartSS006.update();
                    break;
              case 'SS007':
                    if (configSS007.data.labels.length === 20) {
                        configSS007.data.labels.shift();
                        configSS007.data.datasets[0].data.shift();
                    }
                    configSS007.data.labels.push(data.timestamp);
                    configSS007.data.datasets[0].data.push(data.value);
                    lineChartSS007.update();
                    break;
              case 'SS008':
                    if (configSS008.data.labels.length === 20) {
                        configSS008.data.labels.shift();
                        configSS008.data.datasets[0].data.shift();
                    }
                    configSS008.data.labels.push(data.timestamp);
                    configSS008.data.datasets[0].data.push(data.value);
                    lineChartSS008.update();
                    break;
              case 'SS0014':
                    if (configSS0014.data.labels.length === 20) {
                        configSS0014.data.labels.shift();
                        configSS0014.data.datasets[0].data.shift();
                    }
                    configSS0014.data.labels.push(data.timestamp);
                    configSS0014.data.datasets[0].data.push(data.value);
                    lineChartSS0014.update();
                    break;
              case 'SS009':
                    if (configSS009.data.labels.length === 20) {
                        configSS009.data.labels.shift();
                        configSS009.data.datasets[0].data.shift();
                    }
                    configSS009.data.labels.push(data.timestamp);
                    configSS009.data.datasets[0].data.push(data.value);
                    lineChartSS009.update();
                    break;
              case 'SS0010':
                    if (configSS0010.data.labels.length === 20) {
                        configSS0010.data.labels.shift();
                        configSS0010.data.datasets[0].data.shift();
                    }
                    configSS0010.data.labels.push(data.timestamp);
                    configSS0010.data.datasets[0].data.push(data.value);
                    lineChartSS0010.update();
                    break;
              case 'SS0015':
                    if (configSS0015.data.labels.length === 20) {
                        configSS0015.data.labels.shift();
                        configSS0015.data.datasets[0].data.shift();
                    }
                    configSS0015.data.labels.push(data.timestamp);
                    configSS0015.data.datasets[0].data.push(data.value);
                    lineChartSS0015.update();
                    break;

              case 'SS0016':
                    if (configSS0016.data.labels.length === 20) {
                        configSS0016.data.labels.shift();
                        configSS0016.data.datasets[0].data.shift();
                    }
                    configSS0016.data.labels.push(data.timestamp);
                    configSS0016.data.datasets[0].data.push(data.value);
                    lineChartSS0016.update();
                    break;
              case 'SS0011':
                    if (configSS0011.data.labels.length === 20) {
                        configSS0011.data.labels.shift();
                        configSS0011.data.datasets[0].data.shift();
                    }
                    configSS0011.data.labels.push(data.timestamp);
                    configSS0011.data.datasets[0].data.push(data.value);
                    lineChartSS0011.update();
                    break;
              case 'SS0012':
                    if (configSS0012.data.labels.length === 20) {
                        configSS0012.data.labels.shift();
                        configSS0012.data.datasets[0].data.shift();
                    }
                    configSS0012.data.labels.push(data.timestamp);
                    configSS0012.data.datasets[0].data.push(data.value);
                    lineChartSS0012.update();
                    break;
              case 'SS0013':
                    if (configSS0013.data.labels.length === 20) {
                        configSS0013.data.labels.shift();
                        configSS0013.data.datasets[0].data.shift();
                    }
                    configSS0013.data.labels.push(data.timestamp);
                    configSS0013.data.datasets[0].data.push(data.value);
                    lineChartSS0013.update();
                    break;
              default:
                    break

            }            

      });
  }
  setInterval(getChartdata,1000);
</script>
{% endblock %}
