<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{{ url_for('static', filename = 'dist/img/AdminLTELogo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Agri 1.0</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item">
            <a href="/" class="nav-link {% if request.url_rule.endpoint == 'index' %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Dashboard <!-- {{request.url_rule.endpoint}} -->
              </p>
            </a>
          </li>

          <li class="nav-item {% if request.url_rule.endpoint == 'soilsensors' or request.url_rule.endpoint == 'sprinklers' %} menu-open {% endif %}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-network-wired"></i>
              <p>
                Devices
                <i class="fas fa-angle-left right"></i>
                <!-- <span class="badge badge-info right">6</span> -->
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/soilsensors" class="nav-link {% if request.url_rule.endpoint == 'soilsensors' %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Soil Sensor</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/sprinklers" class="nav-link {% if request.url_rule.endpoint == 'sprinklers' %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sprinkler</p>
                </a>
              </li>
            </ul>
          </li>



          <li class="nav-item">
            <a href="/farms" class="nav-link {% if request.url_rule.endpoint == 'farms' %} active {% endif %}">
              <i class="nav-icon fas fa-tractor"></i>
              <p>
                Farms
                <!-- <span class="badge badge-info right">2</span> -->
              </p>
            </a>
          </li>


          <li class="nav-item {% if request.url_rule.endpoint == 'reports/*' %} menu-open {% endif %}">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/water-consumption" class="nav-link {% if request.url_rule.endpoint == 'water-consumption' %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Water consumption</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/consumption-trends" class="nav-link {% if request.url_rule.endpoint == 'consumption-trends' %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Consumption Trends</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/usage-patterns" class="nav-link {% if request.url_rule.endpoint == 'usage patterns' %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Water Usage Patterns</p>
                </a>
              </li>

            </ul>
          </li>

          <!-- <li class="nav-item">
            <a href="/users" class="nav-link {% if request.url_rule.endpoint == 'users' %} active {% endif %}">
              <i class="nav-icon far fa-image"></i>
              <p>
                User
              </p>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>