{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Sprinlkers</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Sprinlkers</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Device ID</th>
                      <th>Label</th>
                      <th>Farm ID</th>
                      <th>Effeciency</th>
                      <!-- <th>Added on</th>
                      <th>Status</th>
                      <th>Last Active</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    {% for ss in sps: %}
                    <tr>
                      <td>{{ss['device_id']}}</td>
                      <td>{{ss['label']}}</td>
                      <td>{{ss['farm_id']}}</td>
                      <td>75%</td>
                      <!-- <td>
                        2 Months Ago
                      </td>
                      <td><span class="badge bg-success">ON</span></td>
                      <td>3 seconds ago</td> -->
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <!-- <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div> -->
            </div>
          </div>          
        </div>
      </div>
    </section>
</div>
{% endblock %}

{% block footerjs %}

{% endblock %}
