<div class="col-md-4">
  <p class="text-center">
    <strong>LIVE : {{ss.label}} Data</strong>
  </p>
  <div class="chart">
    <canvas id="moisterChart{{ss.device_id}}" height="180" style="height: 180px;"></canvas>
  </div>
</div>

<script type="text/javascript">
  
        
        // SoilSensor - 1
        const config{{ss.device_id}} = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Moister",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Real-Time Moister Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context{{ss.device_id}} = document.getElementById('moisterChart{{ss.device_id}}').getContext('2d');
        const lineChart{{ss.device_id}} = new Chart(context{{ss.device_id}}, config{{ss.device_id}});


        // const source{{ss.device_id}} = new EventSource("/chart-data");
        // source{{ss.device_id}}.onmessage = function (event) {
        //     const data = JSON.parse(event.data);
        //     console.log(data);
        //     console.log(data.deviceid==="{{ss.device_id}}");
        //     console.log(typeof(data.deviceid))
        //     console.log(typeof("{{ss.device_id}}"))

        //     if(data.deviceid==="{{ss.device_id}}")
        //     {
        //       if (config{{ss.device_id}}.data.labels.length === 20) {
        //           config{{ss.device_id}}.data.labels.shift();
        //           config{{ss.device_id}}.data.datasets[0].data.shift();
        //       }
        //       config{{ss.device_id}}.data.labels.push(data.timestamp);
        //       config{{ss.device_id}}.data.datasets[0].data.push(data.value);
        //       lineChart{{ss.device_id}}.update();
        //     }
        // }

</script>